.loginContainer {
    display: flex;
    background-color: #cef260;
    width: 100%;
    height: 100vh;
    
}

.col {
    flex:50%;
    flex:1;
}

.landingText {
    margin-top: 15em;
    margin-left: 10em;
}

.loginCard {
    display: relative;
    margin-top: 13em;
    margin-left: 8em;
    width: 25em;
    height: 30em;
}

.textz {
    font-size: 6em;
    font-weight: 500;
}

.googlebtn {
    margin-left: 5em;
    margin-top: 3em;
    margin-bottom: 2em;
}