.HomeContainer {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2em;
    margin-right: 1em;
    margin-top: 1em;
}

.flexItem {
    flex: 1;
}

.classesCard {
    position: relative;
    width: 30em;
    margin: .5em;
    height: 20em;
}

.infoContainer {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 28%;
    margin: 0 0 0 -90px;
    width: 90%
}

.drawerContainer {
    position: relative;
    margin: 3em;
}

.drawerInfoContainer {
    display: flex;
    position: absolute;
    bottom: -30em;
    left: 19%;
    margin: 0 0 0 -90px;
    width: 90%

}

.btnContainer {
    display: flex;
    justify-content: flex-end;
    margin-right: 4em;
    margin-top: 3em;
}